/* Big screens */
@media (min-width: 1450px){
     .full-width-wrapper-left,
     .full-width-wrapper-right {
          margin: 0 auto;
          max-width: 1200px;
     }
}

/* Desktops */
@media (max-width: 1200px) {
     .about-section {
          padding: 70px 0 100px 0;
     }
}

/* Small desktops */
@media (max-width: 1080px) {
     h1 {
          font-size: 2.5rem;
     }

     h2 {
          font-size: 1.8rem;
     }

     p,
     .sidebar-blog-list a,
     .contact-info a {
          font-size: 0.8rem;
     }

// homepage ********************************     
     
     header.homepage {
          height: 65vh;
     }
     
     .overlapping-hero-image {
          max-width: 50%;
     } 

     .about-section {
          padding: 200px 0 100px 0;
     }

     .blog-section .first-article {
          margin-bottom: 70px;
     }

     .blog-section .article-content {
          width: 50%;
     }

     h2 {
          line-height: 1.2;
          margin-bottom: 20px;
     }
}

/* Large tablet */
@media (max-width: 940px) {

// homepage ******************************** 


     .rope-background {
          height: 30vh;
     }

     .search-section {
          padding: 50px 0 90px 0;
     }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) { 
     h1 {
          font-size: 2.25rem;
     }

     button {
          font-size: 1rem;
     }

// homepage ********************************

     header.homepage {
          height: 55vh;
     }

     .about-section {
          padding: 160px 0 70px 0;
     }

     .about-info {
          width: 60%;
     }

     .about-image {
          width: 30%;
     }

     .blog-section {
          padding-top: 0;
     }

     article.first-article,
     .blog-section .row-reverse-desktop {
          flex-direction: column;
     }

     .blog-section .article-content {
          width: 100%;
     }

     .blog-section .article-image {
          width: 60%;
     }

     .blog-section .first-image {
          top: -40px;
     }

     .blog-section .second-image {
          bottom: 45px;
     }

// blog ********************************

     header.blog-page {
          height: 40vh;
     }

     .flex-wrapper {
          flex-direction: column;
     }

     .blog-content {
          width: 90%;
     }

     .sidebar {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: flex-start;
          padding: 60px 30px;
     }

     .sidebar-image {
          display: none;
     }

     .sidebar-content {
          width: 50%;
     }

     .sidebar-blog-list {
          width: 40%;
     }

// contact ********************************

     header.contact-page {
          height: 40vh;
     }

     section.contact-form {
          width: 100%;
          margin-bottom: 0;
     }

     aside.contact-info {
          width: 35%;
          margin: 70px auto 80px auto;
          text-align: center;
     }

     input,
     textarea {
          font-size: 0.8rem;
     }
}

/* Landscape phones and down */
@media (max-width: 480px) {

     h1 {
          font-size: 2rem;
     }

     h2 {
          font-size: 1.5rem;
     }

// homepage ********************************

     header.homepage {
          background-position: right;
          height: 50vh;
     }

     header.homepage h1 {
          max-width: 100%;
          text-align: center;
          background-color: #f5f5f5d4;
          border-radius: 30px;
          padding: 20px 0;
          margin-top: 70px;
     }

     .overlapping-hero-image {
          display: none;
     }

     .about-section {
          padding-top: 70px;
     }

     .about-content {
          flex-direction: column-reverse;
     }

     .about-info {
          width: 100%;
     }

     .about-image {
          width: 70%;
          margin-bottom: 30px;
          margin-left: 20px;
     }

     .image-gallery {
          padding: 50px 0;
     }

     ul.icon-site-links {
          flex-direction: column;
     }

     ul.icon-site-links li {
          width: 100%;
     }

     .blog-section .article-image {
          width: 85%;
     }

     .first-content {
          padding-left: 20px;
     }

     .second-content {
          padding-right: 20px;
     }

// blog ********************************

     .blog-content article .blog-post-content {
          padding: 50px 30px 50px 30px;
     }

     .comments {
          padding: 50px 30px 50px 30px;
     }

     .user-comment {
          flex-direction: column;
     }

     .user-comment div {
          margin-left: 0;
          margin-top: 30px;
     }

     form input[type="email"], 
     form input[type="text"] {
          width: 100%;
     }

     form input[type="email"] {
          margin-left: 0;
          margin-top: 20px;
     }

     .sidebar {
          flex-direction: column;
     }

     .sidebar-content,
     .sidebar-blog-list {
          width: 100%;
     }

// contact ********************************

     header.contact-page h1 {
          max-width: 100%;
     }

     section.contact-form {
          width: 90%;
     }

     aside.contact-info {
          width: 65%;
     }
}