// site colors

$black: #1e1713;
$black-two: #161515;
$dark-slate-blue: #1a315c;
$turquoise-blue: #0cadc0;
$dark-turquoise-blue: #21404F;
$light-sky-blue: #ccedfb;
$white: #ffffff;

// typography

html {
  font-size: 125%; /* 16px * 1.25 = 20px */
}

body {
     background-color: $light-sky-blue;
}

$base-font: 'Lato', sans-serif;
$heading-font: 'Pacifico', cursive;

@mixin font-details($font-size, $line-height, $letter-spacing, $font-weight) {
     font-size: $font-size;
     line-height: $line-height;
     letter-spacing: $letter-spacing;  
     font-weight: $font-weight;   
}

h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: $heading-font;
}

p {
     font-family: $base-font;
     @include font-details(1rem, 1.5, 2px, 400);
     color: $black;
}

h1 {
     @include font-details(3rem, 1.2, 1px, normal);
     color: $dark-slate-blue;
}

h2 {
     @include font-details(2rem, 2, 2.7px, normal);
}


// buttons

.skip-link {
     background-color: $black;
     color: $white;
     font-family: $base-font;
     padding: 10px 20px;
     margin-top: 20px;
     text-align: center;
}

button {
     @include font-details(1.2rem, 1.2, 1.4px, normal);
     font-family: $heading-font;
     text-transform: lowercase;
     border: none;
     padding: 10px 35px 15px 34px;
     margin-top: 30px;

     &:hover {
          cursor: pointer;
     }
}

button.btn-dark-blue {
     background-color: $dark-slate-blue;
     color: $white;

     &:hover,
     &:focus {
          background-color: lighten($dark-slate-blue, 10);
     }
}

button.btn-light-blue {
     background-color: $light-sky-blue;
     color: $dark-slate-blue;

     &:hover,
     &:focus {
          background-color: darken($light-sky-blue, 10);
     }
}

// containers

.wrapper {
     max-width: 1200px;
     width: 90%;
     margin: 0 auto;
}

