html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
}

.skip-link:focus {
  left: 50px;
}

html {
  font-size: 125%;
  /* 16px * 1.25 = 20px */
}

body {
  background-color: #ccedfb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pacifico", cursive;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 2px;
  font-weight: 400;
  color: #1e1713;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: normal;
  color: #1a315c;
}

h2 {
  font-size: 2rem;
  line-height: 2;
  letter-spacing: 2.7px;
  font-weight: normal;
}

.skip-link {
  background-color: #1e1713;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
}

button {
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: 1.4px;
  font-weight: normal;
  font-family: "Pacifico", cursive;
  text-transform: lowercase;
  border: none;
  padding: 10px 35px 15px 34px;
  margin-top: 30px;
}
button:hover {
  cursor: pointer;
}

button.btn-dark-blue {
  background-color: #1a315c;
  color: #ffffff;
}
button.btn-dark-blue:hover, button.btn-dark-blue:focus {
  background-color: #254684;
}

button.btn-light-blue {
  background-color: #ccedfb;
  color: #1a315c;
}
button.btn-light-blue:hover, button.btn-light-blue:focus {
  background-color: #9ddcf7;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-links,
.logo {
  width: 50%;
}

.logo a {
  font-family: "Pacifico", cursive;
  color: #1e1713;
  font-size: 1.8rem;
  line-height: 1.2;
  letter-spacing: 1.4px;
  font-weight: normal;
}
.logo a:hover, .logo a:focus {
  color: #0cadc0;
}

nav a {
  text-decoration: none;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 1.4px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  color: #1a315c;
  position: relative;
}
.nav-links a:hover, .nav-links a:active {
  color: #0cadc0;
}
.nav-links a:hover::after, .nav-links a:active::after {
  content: "";
  width: 100%;
  background-color: #0cadc0;
  height: 2px;
  margin: auto;
  display: block;
  position: absolute;
  bottom: -15px;
}

footer {
  background-color: #1a315c;
  padding: 15px 0;
  text-align: center;
}

footer p,
footer a {
  font-size: 0.8rem;
  line-height: 1;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: #ccedfb;
}

header.homepage {
  background-image: url(../textilee-assets/header-home.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
}

header.homepage h1 {
  max-width: 55%;
  padding-top: 50px;
}

.overlapping-hero-image {
  position: absolute;
  top: -55%;
  max-width: 55%;
}

.about-section {
  position: relative;
  padding: 220px 0 100px 0;
}
.about-section h2 {
  color: #1a315c;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-info {
  width: 65%;
}

.about-image {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 10;
}

.about-image::before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #0cadc0;
  z-index: -10;
}

.image-gallery {
  background-color: #21404F;
  padding: 80px 0;
}
.image-gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.image-gallery ul li {
  list-style: none;
  width: calc((100% / 3) - 20px);
}
.image-gallery ul li:nth-child(2) {
  margin: 0 20px;
}
.image-gallery ul img {
  width: 100%;
}

.middle-nav {
  padding: 70px 0 100px 0;
}

ul.icon-site-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
ul.icon-site-links li {
  list-style: none;
  width: calc(50% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 30px;
}
ul.icon-site-links li a {
  text-decoration: none;
}
ul.icon-site-links li a h2:hover,
ul.icon-site-links li a h2:focus {
  color: #0cadc0;
}
ul.icon-site-links li .icon-image {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #0cadc0;
}
ul.icon-site-links li .icon-content {
  width: 90%;
  padding-left: 12px;
}
ul.icon-site-links li i {
  line-height: 4;
  font-size: 1rem;
  font-weight: 900;
  color: #ffffff;
}
ul.icon-site-links li:nth-child(1),
ul.icon-site-links li:nth-child(3) {
  padding-right: 10px;
}
ul.icon-site-links h2 {
  color: #1a315c;
}

.blog-section {
  background-color: #21404F;
  padding: 40px 0 60px 0;
}
.blog-section h2,
.blog-section p {
  color: #ffffff;
}
.blog-section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-section .first-article {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.blog-section .second-article {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.blog-section .article-content {
  width: 60%;
  max-width: 600px;
  margin: 0 auto;
}
.blog-section .second-content {
  text-align: right;
}
.blog-section .article-image {
  width: 40%;
}
.blog-section .article-image {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 10;
}
.blog-section .article-image::before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  background-color: #0cadc0;
  z-index: -10;
}
.blog-section .article-image img {
  width: 100%;
}
.blog-section .first-image {
  top: -70px;
}
.blog-section .second-image {
  bottom: -80px;
}
.blog-section .first-image::before {
  top: 10px;
  right: -15px;
}
.blog-section .second-image::before {
  top: 10px;
  right: 15px;
}
.blog-section .row-reverse-desktop {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.rope-background {
  height: 50vh;
  background-image: url(../textilee-assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.search-section {
  padding: 80px 0 120px 0;
  text-align: center;
}
.search-section h2 {
  color: #1a315c;
}

header.blog-page {
  background-image: url(../textilee-assets/blog-header.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
}

header.blog-page h1 {
  max-width: 55%;
  padding-top: 50px;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-content {
  width: 60%;
}
.blog-content article {
  margin-top: -100px;
  background-color: #21404F;
}
.blog-content article .blog-post-content {
  padding: 50px 30px 80px 50px;
  border-right: 10px solid #0cadc0;
  border-bottom: 10px solid #0cadc0;
}
.blog-content article .blog-post-content h2,
.blog-content article .blog-post-content p {
  color: #ffffff;
}
.blog-content article .blog-post-content p {
  margin-bottom: 15px;
}
.blog-content .blog-post-image {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 10;
}
.blog-content .blog-post-image::before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 10px;
  background-color: #0cadc0;
  z-index: -10;
}
.blog-content .blog-post-image img {
  width: 100%;
}

.comments {
  padding: 50px 30px 80px 50px;
}
.comments h2 {
  color: #1a315c;
  margin-bottom: 30px;
}
.comments input,
.comments textarea {
  font-family: "Lato", sans-serif;
  padding: 20px 10px;
  letter-spacing: 2px;
}
.comments input::-webkit-input-placeholder, .comments textarea::-webkit-input-placeholder {
  color: #1a315c;
  opacity: 1;
}
.comments input::-moz-placeholder, .comments textarea::-moz-placeholder {
  color: #1a315c;
  opacity: 1;
}
.comments input:-ms-input-placeholder, .comments textarea:-ms-input-placeholder {
  color: #1a315c;
  opacity: 1;
}
.comments input::-ms-input-placeholder, .comments textarea::-ms-input-placeholder {
  color: #1a315c;
  opacity: 1;
}
.comments input::placeholder,
.comments textarea::placeholder {
  color: #1a315c;
  opacity: 1;
}

.user-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
.user-comment div {
  margin-left: 30px;
}
.user-comment div .comment-publish-details {
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: #254684;
}

.btn-form {
  width: 100%;
}

.sidebar {
  width: 30%;
  background-color: #21404F;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 0 30px 15px;
  margin-top: 70px;
}
.sidebar h3,
.sidebar p,
.sidebar a,
.sidebar li {
  color: #ffffff;
  font-weight: normal;
}
.sidebar h3 {
  margin-bottom: 10px;
}
.sidebar p {
  margin-bottom: 30px;
}
.sidebar a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
.sidebar a:hover, .sidebar a:focus {
  color: #ccedfb;
}
.sidebar li {
  list-style-position: inside;
  padding-bottom: 5px;
}
.sidebar .sidebar-image {
  margin-top: -10px;
  margin-bottom: 15px;
  max-width: 100%;
  width: 100%;
}
.sidebar .sidebar-image img {
  width: 100%;
}

header.contact-page {
  background-image: url(../textilee-assets/contact-header.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
}

header.contact-page h1 {
  max-width: 55%;
  padding-top: 50px;
}

.overlapping-header {
  position: relative;
  z-index: 100;
}

section.contact-form {
  width: 70%;
  background-color: #21404F;
  position: relative;
  margin-top: -100px;
  margin-bottom: 80px;
  padding: 70px 30px;
}
section.contact-form::before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 10px;
  background-color: #0cadc0;
  z-index: -10;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
form input,
form textarea {
  font-family: "Lato", sans-serif;
  padding: 20px 10px;
  letter-spacing: 2px;
}
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
form input::-ms-input-placeholder, form textarea::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
form input::placeholder,
form textarea::placeholder {
  color: #ffffff;
  opacity: 1;
}
form input[type=email],
form input[type=text] {
  border: none;
  border-bottom: 3px solid #0cadc0;
  background-color: #FFF0;
  width: calc(50% - 10px);
}
form input[type=email] {
  margin-left: 20px;
}
form textarea {
  border: none;
  border: 3px solid #0cadc0;
  background-color: #FFF0;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}
form input:active,
form input:focus,
form textarea:active,
form textarea:focus {
  border: 2px dotted #0cadc0;
}

aside.contact-info {
  width: 20%;
  margin-top: 70px;
  margin-bottom: 80px;
}
aside.contact-info ul.social-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
aside.contact-info ul.social-contacts li {
  list-style-type: none;
}
aside.contact-info a {
  color: #21404F;
  font-family: "Lato", sans-serif;
  line-height: 2.5;
}
aside.contact-info a:hover, aside.contact-info a:focus {
  color: #254684;
}